
$font-family-regular: HelveticaNeueW01-55Roma, "Helvetica Neue" , Arial, sans-serif;
$font-family-bold: 'HelveticaNeueW01-75Bold';
$font-family-ligh: 'HelveticaNeueW01-45Ligh';
$font-family-thin: 'HelveticaNeueW01-Thin';
$font-family-medium: 'HelveticaNeueW01-65Medi';
$font-family-roma: 'HelveticaNeueW01-55Roma';
$font-family-helvetica-neue: "Helvetica Neue";

$font-size-12-rem: 1.09rem;

$dashboard-tile-subtitle-font-size: 1.6em;

$header-height: 64px;

//Analytics

$gray-20:#333333;;
// Colors
$boeing-blue-500: #025cab;
$boeing-blue-600: #024a89;
$boeing-blue-700: #013767;

$bright-blue-200: #81d4f6;
$bright-blue-700: #0088cb;

$highlight-blue: #247ac5;

$grey-blue-25: #f7f8f9;
$grey-blue-50: #e5e8ed;
$grey-blue-100: #ebf2f9;
$grey-blue-200: #91a2b7;
$grey-blue-300: #687e9b;

$grey-blue-900: #0a2240;

$boeing-grey: #cccccc;
$boeing-medium-light-grey: #c7cfd7;
$boeing-light-grey: #fafafa;
$boeing-lighter-grey: #e7e5e5;

$boeing-green-500: #82bc00;
$boeing-yellow-600: #ffdb00;
$boeing-yellow-700: #ffc200;
$boeing-light-amber-500: #fdd773;
$boeing-amber-500: #ffa400;
$boeing-red-700: #d90023;
$boeing-grey-500: #677681;
$boeing-grey-600: #5b6770;
$boeing-grey-700: #394957;

$light-dark-grey: #666666; // cursed
$dark-grey: #333333;
$warning-orange: #ff9900;
$success-green: #33a04e;
$light-grey-text: #a3aaae;

$white: #ffffff;
$grey: #999999;
$hover-grey: #f9f9f9;
$border-grey: #e9f1f1;

$left-nav-color-blue: #01427a;
$left-nav-highlight-color-blue: #024f94;
$left-nav-text-blue: #d2dde7;

// Stoplight Colors
// Note: keep these in sync with Colors.ts
// Note: sync with PerformanceChartTile.tsx as well
// Note: sync with Sparkline page
$stoplight-grey: $boeing-grey;
$stoplight-green: $boeing-green-500;
$stoplight-yellow: $boeing-yellow-700;
$stoplight-red: $boeing-red-700;

// Borders
$border-1: 1px solid $boeing-medium-light-grey;
$border-2: 2px solid $boeing-blue-500;

//this might just be that border-1 should change color everywhere?
$metric-explorer-nav-border: 1px solid $border-grey;

// Sizes
$standard-spacing: 24px;
$standard-spacing-rem: 3rem;
$border-radius: 6px;

$box-shadow: 0 8px 16px 0 transparentize($grey-blue-900, 0.9);
$boeing-box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.1);

$nav-bar-zindex: 150;
$popover-zindex: $nav-bar-zindex + 1;
