@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .2;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .2;
  }
}

@keyframes fade-out {
  0% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: .2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

